<form method="POST" action="/upload" enctype="multipart/form-data">
  <div id="assignment">
      <label> select file </label><br><br>
      <input type="file" name="file" id="file"><br><br>
  </div>
  <button type="submit">Upload document</button>
</form>
