<html>
<style>
  div{
    text-align: center;
  }
</style>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/login.js"></script>
  <div>
  <form>
    <label>Enter username</label>
    <input type="text" name="username" id="username"><br><br>
    <label>Enter Password</label>
    <input type="password" name="password" id="password"><br><br>
    <button type="submit">login!</button>
  </form>
    <h3>don't have an account? <a href='/signup'>sign up here</a></h3>
  </div>
</html>
