<html>
<style>
  body{
    background-image: url('./assets/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  div{
    padding-left: 20%;
    padding-top: 15%;
    color: white;
  }
  a{
    text-decoration: none;
  }
</style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/assets/studentsignup.js"></script>
    <div>
      <form>
        <label>username</label>
        <input type="text" name="username" id="username"><br><br>
        <label>select section</label>
        <select id="section" name="section">
            <option value="2-4CSE-A">2/4 CSE-A</option>
            <option value="2-4CSE-B">2/4 CSE-B</option>
            <option value="3-4CSE-A">3/4 CSE-A</option>
            <option value="3-4CSE-B">3/4 CSE-B</option>
            <option value="4-4CSE-A">4/4 CSE-A</option>
            <option value="4-4CSE-B">4/4 CSE-B</option>
        </select><br>
        <label>email-id</label>
        <input type="email" name="emailid" id="emailid"><br><br>
        <label>password</label>
        <input type="password" name="password" id="password"><br><br>
        <button type="submit">create account</button>
      </form>
      <h3>need to login ? <a href='/'>login here</a></h3>
  </div>
</html>
