<!DOCTYPE html>
  <% if(prolist.role ==='teacher') {%>
    <% include partials/navbar.ejs %>
  <% } else { %>
    <% include partials/navbar2.ejs %>
  <% } %>
  <head>
    <title>Todo List</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new Item ..." id="Input" required>
        <button type="submit" id="Button">Add item</button>
      </form>
      <ul id="Ul">
        <% for(var i=0;i<todos.todo.length;i++){ %>
          <li id="Li"><%= todos.todo[i] %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
